<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog do IMD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Blod do IMD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contanto</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="index.html">Home</a> / Como programar CSS</li>
        </ol>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
               
                <h1 class="mb-4">
                        Como programar CSS
                </h1>
                <p class="lead">Postado por <a href="#">João</a></p>
                <hr>
                <p class="text-muted">postado em 1 de Janeiro de 2019</p>
                <hr>
                <img class="img-fluid rounded mb-4" src="imgs/img-destaque-post-01.jpg" alt="Computador">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum incidunt delectus, consequatur accusamus enim voluptas atque magni blanditiis quasi culpa voluptatem impedit ratione dicta! Porro iure unde repudiandae ut non.</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cum quibusdam itaque quae deleniti vitae, eos quia incidunt facilis, ducimus illo adipisci provident soluta possimus, mollitia qui libero quam quisquam?</p>

                <div class="my-4 embed-responsive embed-responsive-16by9">
                        <video controls src="media/0. Instrutores.m4v"></video>
                </div>

                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Primeiro</th>
                            <th scope="col">Último</th>
                            <th scope="col">Nickname</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td><span class="badge badge-success">Sim</span></td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><span class="badge badge-danger">Não</span></td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>


                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, officia. Natus numquam reprehenderit quo necessitatibus dolores omnis ad voluptas possimus laudantium in consequuntur minus optio eos quam, ullam unde nam!</p>
                
                <div class="card mb-4">
                        <div class="card-header">
                            Comentários
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary my-2">Comentar</button>
                        </div>
                </div>

                <div class="media mb-4">
                        <img class="mr-3 rounded-circle" src="imgs/avatar-einstein.jpg" alt="Imagem de exemplo genérica">
                        <div class="media-body">
                          <h5 class="mt-0">Albert Einstein</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                </div>

                <div class="media mb-4">
                        <img class="mr-3 rounded-circle" src="imgs/avatar-margaret.jpg" alt="Imagem de exemplo genérica">
                        <div class="media-body">
                          <h5 class="mt-0">Margaret Hamilton</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                </div>

                

            </div>
            <div class="col-md-4">

                <div class="card mb-4">
                    <div class="card-header">
                        Busca
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Digite aqui...">
                            <button class="btn btn-secondary ml-2">Buscar</button>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        Categorias
                    </div>
                    <div class="card-body">
                        <dib class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">CSS</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">CSS</a></li>
                                </ul>
                            </div>
                        </dib>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        Autor
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img src="imgs/avatar.jpg" class="rounded-circle" alt="">
                        </div>
                        <p class="py-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, sit architecto
                            tenetur, odit impedit quam corporis a libero assumenda suscipit fugiat in nesciunt labore
                            pariatur dolor ipsam sed ducimus nemo.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer class="bg-dark py-3" r>
        <p class="text-white text-center">Desenvolvido pelo IMD</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



</body>

</html>